<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/easyui/demo/demo.css">
    <script type="text/javascript" src="/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/static/easyui/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px;background:#B3DFDA;padding:10px">north region</div>
    <div data-options="region:'west',split:true,title:'West'" style="width:150px;padding:10px;">west content</div>
    <div data-options="region:'east',split:true,collapsed:true,title:'East'" style="width:100px;padding:10px;">east region</div>
    <div data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;">south region</div>
    <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
        <table id="table"></table>
    </div>
</body>

<script>
    $(function () {
       $("#table").datagrid({
           url:"/static/easyui/demo/datagrid/datagrid_data1.json",
           method:"get",
           pagination:true,
           rownumbers:true,
           fit:true,
           columns:[
               [
                   {field:'productid',title:'Code',width:100},
                   {field:'productname',title:'Name',width:100},
                   {field:'unitcost',title:'Price',width:100,align:'right'}
                ]
           ]
       });
    });
</script>
</html>
